<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">  <!-- 이 씨벌 레이아웃에 절대로 확장자를 붙이지 말 것-->
<head>
    <meta charset="UTF-8">
    <title>Board Read</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body">

                </div>

            </div>
        </div>
    </div>
</div>

<scirpt layout:fragment="script" th:inline="javascript">

</scirpt>
</html>